## Data prepareation

clean data, put all text together (from parenting and teachers)

In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import nltk
#nltk.download('wordnet')
nltk.download('punkt')
nltk.download('stopwords')
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()
lemmatizer.lemmatize("cats")



from sklearn.feature_extraction.text import CountVectorizer, HashingVectorizer, TfidfVectorizer

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/xinhongli/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to /Users/xinhongli/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/xinhongli/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [7]:
df_parenting = pd.read_csv('../data/parenting_combine_50.csv')

In [8]:
df_parenting.shape

(10000, 11)

In [9]:
df_parenting.head(3)

,subreddit,id,selftext,title,num_comments,created_utc,parent_id,link_id,author,body,all_text
0,Parenting,u35fhw,We recently found a drop in daycare for my 3yr...,Daycare recommends shorter drop offs.,0.0,1649898505,fromsubmission,fromsubmission,fromsubmission,fromsubmission,We recently found a drop in daycare for my 3yr...
1,Parenting,u355wz,So I've lurked on this sub for a long time as ...,Looking for advice for taking the leap to beco...,0.0,1649897684,fromsubmission,fromsubmission,fromsubmission,fromsubmission,So I've lurked on this sub for a long time as ...
2,Parenting,u34x24,So my 20yr old son came back to live with me a...,lazy teenager,0.0,1649896924,fromsubmission,fromsubmission,fromsubmission,fromsubmission,So my 20yr old son came back to live with me a...

In [10]:
df_teacher = pd.read_csv('../data/teacher_combine_50.csv')

In [11]:
df_teacher.shape

(9995, 11)

In [12]:
df_all = pd.concat([df_parenting[['all_text', 'subreddit']], df_teacher[['all_text', 'subreddit']]], ignore_index=True)

In [13]:
df_all.head()

                                            all_text  subreddit
0  We recently found a drop in daycare for my 3yr...  Parenting
1  So I've lurked on this sub for a long time as ...  Parenting
2  So my 20yr old son came back to live with me a...  Parenting
3  I feel bad about posting, since I had all the ...  Parenting
4  My Steam library is looking a bit thin when it...  Parenting

In [14]:
df_all.tail()

                                                all_text subreddit
19990  fromcomments, I would love to get paid overtim...  Teachers
19991  fromcomments, The Road by Cormac McCarthy, fro...  Teachers
19992  fromcomments, It is very district based, somet...  Teachers
19993  fromcomments, I had a MS class like that a few...  Teachers
19994  fromcomments, Oh. \n\nHere, go [one by one](ht...  Teachers

In [18]:
df_all.shape

(19995, 2)

In [19]:
# set a column for target, is_college
df_all['is_parent'] = df_all['subreddit'].map({'Parenting': 1, 'Teachers': 0})
df_all.drop('subreddit', axis=1, inplace=True)
df_all.head()

                                            all_text  is_parent
0  We recently found a drop in daycare for my 3yr...          1
1  So I've lurked on this sub for a long time as ...          1
2  So my 20yr old son came back to live with me a...          1
3  I feel bad about posting, since I had all the ...          1
4  My Steam library is looking a bit thin when it...          1

In [21]:
df_all.tail()

                                                all_text  is_parent
19990  fromcomments, I would love to get paid overtim...          0
19991  fromcomments, The Road by Cormac McCarthy, fro...          0
19992  fromcomments, It is very district based, somet...          0
19993  fromcomments, I had a MS class like that a few...          0
19994  fromcomments, Oh. \n\nHere, go [one by one](ht...          0

## Drop duplicates

In [35]:
df_all.duplicated().sum()

0

In [36]:
df_all[df_all.duplicated()]

Empty DataFrame
Columns: [all_text, is_parent]
Index: []

In [37]:
df_all.drop_duplicates(inplace = True)

In [38]:
df_all.shape

(19716, 2)

In [39]:
df_all = df_all.reset_index(drop=True)
df_all.tail()

                                                all_text  is_parent
19711  fromcomments, I would love to get paid overtim...          0
19712  fromcomments, The Road by Cormac McCarthy, fro...          0
19713  fromcomments, It is very district based, somet...          0
19714  fromcomments, I had a MS class like that a few...          0
19715  fromcomments, Oh. \n\nHere, go [one by one](ht...          0

In [41]:
df_all.to_csv('../data/alltogether.csv', index=False)