## Data collecting from parenting group

In [4]:
import requests

import pandas as pd
import matplotlib.pyplot as plt

import time

In [5]:
url = 'https://api.pushshift.io/reddit/search/submission'
url_comments = 'https://api.pushshift.io/reddit/search/comment'

Function to get comments

In [6]:
# get comments from subreddit

def get_posts(type, n_time):
    
    df_list = []
    current_time = 1649888675
    
    for _ in range(n_time):
      if type == 'submissions':
        res = requests.get(
            url,
            params={
                "subreddit": 'Parenting',
                "size": 500,
                "before": current_time
            }
        )
      if type == 'comments':
        res = requests.get(
            url_comments,
            params={
                "subreddit": 'Parenting',
                "size": 500,
                "before": current_time
            }
        )

        time.sleep(3)
        df = pd.DataFrame(res.json()['data'])
        if type == 'comments':
          df = df.loc[:, ['id', 'parent_id','link_id' ,'author', "subreddit", "body", "created_utc"]]
        if type == 'submissions':
          print(df.shape)
         # df = df.loc[:, ["subreddit", "selftext", "created_utc"]]
          df = df["subreddit", "selftext", "created_utc"]
        df_list.append(df)
        current_time = df.created_utc.min()
        
    return pd.concat(df_list, axis=0)

Fetch 5000 comments from

In [7]:
df_comments = get_posts('comments', 50)

In [10]:
df_comments.shape

(5000, 7)

In [56]:
df_comments.to_csv('../data/parenting_comments_50.csv')

In [11]:
df_comments.head()

,id,parent_id,link_id,author,subreddit,body,created_utc
0,i4miytu,t1_i4lpwdx,t3_u2xgw9,MyAlternateOne,Parenting,And? He's legally an adult if he wants to fuck...,1649888655
1,i4miyr3,t3_u2zrje,t3_u2zrje,Still_Strangest,Parenting,It’s so devastating to hear those words even w...,1649888654
2,i4misto,t1_i4mimzu,t3_u31y78,fancydang,Parenting,Yes I ordered a safe on Amazon now. This is ob...,1649888584
3,i4mis5x,t1_i4mimzu,t3_u31y78,loopalace,Parenting,Yeah this too. It is totally up to us to make ...,1649888577
4,i4miqt6,t1_i4lfw5i,t3_u2virc,mcon87,Parenting,It's so validating to hear this from another p...,1649888561

In [ ]:
# get  from subreddit

def get_submissions(n_time):
    
    df_list = []
    current_time = 1649899074
    
    for _ in range(n_time):
      res = requests.get(
            url,
            params={
                "subreddit": 'Parenting',
                "size": 100,
                "before": current_time
            }
      )
      time.sleep(3)
      df = pd.DataFrame(res.json()['data'])
       
      df = df.loc[:, ["subreddit",'id', "selftext", 'title','num_comments',"created_utc"]]
      #df = df["subreddit", "selftext", "created_utc"]
      df_list.append(df)
      current_time = df.created_utc.min()
        
    return pd.concat(df_list, axis=0)

In [ ]:
# df_submission = get_submissions(100)

df_submission = get_submissions(50)

In [52]:
df_submission.shape

(5000, 6)

look through id related columns, for future use when needed to analize user's feature

In [12]:
df_comments['link_id'].value_counts()

t3_u2rsja    588
t3_u276ko    519
t3_u254jc    373
t3_u2cpe3    192
t3_u2esg1    147
            ...
t3_tyeobg      1
t3_tqcxo6      1
t3_tymvgb      1
t3_u1hakd      1
t3_u21cs4      1
Name: link_id, Length: 307, dtype: int64

In [44]:

            
list_c  = df_comments['link_id']
list_s = df_submission['id']
list_together = []

for linkid in list_c:
    linkid = linkid[3:]
    #print(linkid)
    for id in list_s:
        if linkid == id:
            list_together.append(linkid)
print(len(list_together))

4839

In [45]:
list_c  = df_comments['parent_id']
list_s = df_submission['id']
list_together = []

for linkid in list_c:
    linkid = linkid[3:]
    for id in list_s:
        if linkid == id:
            list_together.append(linkid)
print(len(list_together))

2589

In [46]:
df_comments.isnull().sum()

id             0
parent_id      0
link_id        0
author         0
subreddit      0
body           0
created_utc    0
dtype: int64

In [47]:
#df_submission['title']

In [48]:
parentids = df_comments['parent_id']

In [49]:
parentids

0     t1_i4lpwdx
1      t3_u2zrje
2     t1_i4mimzu
3     t1_i4mimzu
4     t1_i4lfw5i
         ...
95     t3_u2584g
96    t1_i4eu9c8
97     t3_u24z9h
98     t3_u24y23
99     t3_u24z9h
Name: parent_id, Length: 5000, dtype: object

In [50]:
parentids = df_comments['parent_id']

parentids_for_col = []
for key in parentids:
    val = key[3:]
    parentids_for_col.append(key)
df_comments['parent_id'] = parentids_for_col

In [51]:
df_comments.head()

,id,parent_id,link_id,author,subreddit,body,created_utc
0,i4miytu,t1_i4lpwdx,t3_u2xgw9,MyAlternateOne,Parenting,And? He's legally an adult if he wants to fuck...,1649888655
1,i4miyr3,t3_u2zrje,t3_u2zrje,Still_Strangest,Parenting,It’s so devastating to hear those words even w...,1649888654
2,i4misto,t1_i4mimzu,t3_u31y78,fancydang,Parenting,Yes I ordered a safe on Amazon now. This is ob...,1649888584
3,i4mis5x,t1_i4mimzu,t3_u31y78,loopalace,Parenting,Yeah this too. It is totally up to us to make ...,1649888577
4,i4miqt6,t1_i4lfw5i,t3_u2virc,mcon87,Parenting,It's so validating to hear this from another p...,1649888561

In [16]:
df_submission.head()

,subreddit,id,selftext,title,num_comments,created_utc
0,Parenting,u35fhw,We recently found a drop in daycare for my 3yr...,Daycare recommends shorter drop offs.,0,1649898505
1,Parenting,u355wz,So I've lurked on this sub for a long time as ...,Looking for advice for taking the leap to beco...,0,1649897684
2,Parenting,u34x24,So my 20yr old son came back to live with me a...,lazy teenager,0,1649896924
3,Parenting,u34vh5,"I feel bad about posting, since I had all the ...",I still haven't bonded with my 1 year old,0,1649896790
4,Parenting,u34sai,My Steam library is looking a bit thin when it...,PC game advice for a 5 year old.,0,1649896511

In [18]:
df_submission['title'][:20]

0                 Daycare recommends shorter drop offs.
1     Looking for advice for taking the leap to beco...
2                                         lazy teenager
3             I still haven't bonded with my 1 year old
4                      PC game advice for a 5 year old.
5                  How do you not just... Always panic?
6                   Sometimes my son won’t say anything
7     Would you be more or less willing to go to a b...
8                                      Teeth coming in?
9          MIL appreciation- I’ll be an MIL one day too
10             Is it mean to exclude our 2 yo from trip
11    'Mummy, you're my gorgeous boy' My sleep talki...
12    Can kids gain confidence at the age of 8 or is...
13                               A Chameleon of a Child
14                      Butt wiping without baby wipes?
15    What is the usual cognitive development for a ...
16                          Is this considered sorting?
17                         How to get your child to eat
18    Three year old hitting at school and lying abo...
19                                                Helpp
Name: title, dtype: object

In [19]:
df_submission['num_comments'].value_counts()

0      4841
1        68
4        11
2        10
7         9
6         7
3         6
5         6
10        5
9         5
18        4
11        3
8         3
13        2
14        2
24        2
16        1
130       1
20        1
22        1
23        1
25        1
59        1
78        1
17        1
34        1
55        1
48        1
41        1
21        1
43        1
12        1
Name: num_comments, dtype: int64

In [55]:
df_submission.to_csv('../data/parenting_submission_50.csv')

In [54]:
df_submission_with_comments = df_submission[df_submission['num_comments']> 20]

In [22]:
df_submission_with_comments.shape

(14, 6)

In [23]:
df_submission_with_comments.head()

,subreddit,id,selftext,title,num_comments,created_utc
50,Parenting,trsx2j,I raised my kids to have no excuse for violenc...,Will Smith just undid my work.,24,1648596820
52,Parenting,trssk9,My daughter is 5. She’s allowed over there by ...,I found my mother naked in the hot tub with my...,43,1648596456
69,Parenting,trnqc5,I currently make him go at 9 15 but he has bee...,What time should I let my 13 yr old go to bed?,21,1648590512
89,Parenting,trh1ha,So I am a mother for a 3 month old who has has...,Should have I snapped at a women,78,1648584208
95,Parenting,trf89y,The other day I was out and some ladies starte...,Is it rude to tell people not to touch your ba...,41,1648581984

### combine submission and comments together tohave  one DataFramee

In [24]:
df_combine = pd.concat([df_submission, df_comments],ignore_index=True, sort=False)

In [25]:
df_combine.shape

(10000, 10)

In [26]:
df_combine.head()

,subreddit,id,selftext,title,num_comments,created_utc,parent_id,link_id,author,body
0,Parenting,u35fhw,We recently found a drop in daycare for my 3yr...,Daycare recommends shorter drop offs.,0.0,1649898505,NaN,NaN,NaN,NaN
1,Parenting,u355wz,So I've lurked on this sub for a long time as ...,Looking for advice for taking the leap to beco...,0.0,1649897684,NaN,NaN,NaN,NaN
2,Parenting,u34x24,So my 20yr old son came back to live with me a...,lazy teenager,0.0,1649896924,NaN,NaN,NaN,NaN
3,Parenting,u34vh5,"I feel bad about posting, since I had all the ...",I still haven't bonded with my 1 year old,0.0,1649896790,NaN,NaN,NaN,NaN
4,Parenting,u34sai,My Steam library is looking a bit thin when it...,PC game advice for a 5 year old.,0.0,1649896511,NaN,NaN,NaN,NaN

In [27]:
df_combine.tail()

,subreddit,id,selftext,title,num_comments,created_utc,parent_id,link_id,author,body
9995,Parenting,i4gi7s5,NaN,NaN,NaN,1649786500,t3_u2584g,t3_u2584g,noonecaresat805,Well you can’t change the past. But you can ma...
9996,Parenting,i4gi72r,NaN,NaN,NaN,1649786492,t1_i4eu9c8,t3_u1vxa8,gubbygoobyqt,Jo Frost it up
9997,Parenting,i4gi5zv,NaN,NaN,NaN,1649786481,t3_u24z9h,t3_u24z9h,Smilewigeon,Ha. I recollect so many people telling me stuf...
9998,Parenting,i4gi2hl,NaN,NaN,NaN,1649786445,t3_u24y23,t3_u24y23,AstrumFaerwald,Have you had her checked for ADHD and/or OCD? ...
9999,Parenting,i4gi1ja,NaN,NaN,NaN,1649786435,t3_u24z9h,t3_u24z9h,OneAcanthocephala999,"I think people mean well, they’re not trying t..."

Deal with null value when combine 2 data frame together

In [28]:
df_combine.isnull().sum()

subreddit          0
id                 0
selftext        5007
title           5000
num_comments    5000
created_utc        0
parent_id       5000
link_id         5000
author          5000
body            5000
dtype: int64

In [30]:
df_combine['selftext'].fillna('fromcomments', inplace = True)

In [31]:
df_combine.isnull().sum()

subreddit          0
id                 0
selftext           0
title           5000
num_comments    5000
created_utc        0
parent_id       5000
link_id         5000
author          5000
body            5000
dtype: int64

In [32]:
df_combine['title'].fillna('fromcomments', inplace = True)

In [33]:
df_combine['num_comments'].fillna(0,inplace=True)

In [34]:
df_combine['parent_id'].fillna('fromsubmission',inplace=True)

In [35]:
df_combine['link_id'].fillna('fromsubmission',inplace=True)

In [36]:
df_combine['author'].fillna('fromsubmission',inplace=True)

In [37]:
df_combine['body'].fillna('fromsubmission',inplace=True)

In [38]:
df_combine.isnull().sum()

subreddit       0
id              0
selftext        0
title           0
num_comments    0
created_utc     0
parent_id       0
link_id         0
author          0
body            0
dtype: int64

In [39]:
df_combine.head()

,subreddit,id,selftext,title,num_comments,created_utc,parent_id,link_id,author,body
0,Parenting,u35fhw,We recently found a drop in daycare for my 3yr...,Daycare recommends shorter drop offs.,0.0,1649898505,fromsubmission,fromsubmission,fromsubmission,fromsubmission
1,Parenting,u355wz,So I've lurked on this sub for a long time as ...,Looking for advice for taking the leap to beco...,0.0,1649897684,fromsubmission,fromsubmission,fromsubmission,fromsubmission
2,Parenting,u34x24,So my 20yr old son came back to live with me a...,lazy teenager,0.0,1649896924,fromsubmission,fromsubmission,fromsubmission,fromsubmission
3,Parenting,u34vh5,"I feel bad about posting, since I had all the ...",I still haven't bonded with my 1 year old,0.0,1649896790,fromsubmission,fromsubmission,fromsubmission,fromsubmission
4,Parenting,u34sai,My Steam library is looking a bit thin when it...,PC game advice for a 5 year old.,0.0,1649896511,fromsubmission,fromsubmission,fromsubmission,fromsubmission

In [40]:
df_combine.tail()

,subreddit,id,selftext,title,num_comments,created_utc,parent_id,link_id,author,body
9995,Parenting,i4gi7s5,fromcomments,fromcomments,0.0,1649786500,t3_u2584g,t3_u2584g,noonecaresat805,Well you can’t change the past. But you can ma...
9996,Parenting,i4gi72r,fromcomments,fromcomments,0.0,1649786492,t1_i4eu9c8,t3_u1vxa8,gubbygoobyqt,Jo Frost it up
9997,Parenting,i4gi5zv,fromcomments,fromcomments,0.0,1649786481,t3_u24z9h,t3_u24z9h,Smilewigeon,Ha. I recollect so many people telling me stuf...
9998,Parenting,i4gi2hl,fromcomments,fromcomments,0.0,1649786445,t3_u24y23,t3_u24y23,AstrumFaerwald,Have you had her checked for ADHD and/or OCD? ...
9999,Parenting,i4gi1ja,fromcomments,fromcomments,0.0,1649786435,t3_u24z9h,t3_u24z9h,OneAcanthocephala999,"I think people mean well, they’re not trying t..."

### put all text info together

In [41]:
df_combine['all_text'] = df_combine['selftext'] + ', ' + df_combine['body'] + ', ' + df_combine['title']

In [42]:
df_combine.head()

,subreddit,id,selftext,title,num_comments,created_utc,parent_id,link_id,author,body,all_text
0,Parenting,u35fhw,We recently found a drop in daycare for my 3yr...,Daycare recommends shorter drop offs.,0.0,1649898505,fromsubmission,fromsubmission,fromsubmission,fromsubmission,We recently found a drop in daycare for my 3yr...
1,Parenting,u355wz,So I've lurked on this sub for a long time as ...,Looking for advice for taking the leap to beco...,0.0,1649897684,fromsubmission,fromsubmission,fromsubmission,fromsubmission,So I've lurked on this sub for a long time as ...
2,Parenting,u34x24,So my 20yr old son came back to live with me a...,lazy teenager,0.0,1649896924,fromsubmission,fromsubmission,fromsubmission,fromsubmission,So my 20yr old son came back to live with me a...
3,Parenting,u34vh5,"I feel bad about posting, since I had all the ...",I still haven't bonded with my 1 year old,0.0,1649896790,fromsubmission,fromsubmission,fromsubmission,fromsubmission,"I feel bad about posting, since I had all the ..."
4,Parenting,u34sai,My Steam library is looking a bit thin when it...,PC game advice for a 5 year old.,0.0,1649896511,fromsubmission,fromsubmission,fromsubmission,fromsubmission,My Steam library is looking a bit thin when it...

In [58]:
# df_combine.to_csv('combine.csv')
df_combine.to_csv('../data/parenting_combine_50.csv', index=False)