## Data collecting from teacher goup

In [1]:
import requests

import pandas as pd
import matplotlib.pyplot as plt

import time

In [2]:
url = 'https://api.pushshift.io/reddit/search/submission'
url_comments = 'https://api.pushshift.io/reddit/search/comment'

In [3]:
param_parenting = {
    'subreddit': 'Teachers',
    'size': 500,
    'before': 1649888675
}

In [4]:
# get comments from subreddit

def get_posts(type, n_time):
    
    df_list = []
    current_time = 1649888675
    
    for _ in range(n_time):
      if type == 'submissions':
        res = requests.get(
            url,
            params={
                "subreddit": 'Teachers',
                "size": 500,
                "before": current_time
            }
        )
      if type == 'comments':
        res = requests.get(
            url_comments,
            params={
                "subreddit": 'Teachers',
                "size": 500,
                "before": current_time
            }
        )

        time.sleep(3)
        df = pd.DataFrame(res.json()['data'])
        if type == 'comments':
          df = df.loc[:, ['id', 'parent_id','link_id' ,'author', "subreddit", "body", "created_utc"]]
        if type == 'submissions':
          print(df.shape)
         # df = df.loc[:, ["subreddit", "selftext", "created_utc"]]
          df = df["subreddit", "selftext", "created_utc"]
        df_list.append(df)
        current_time = df.created_utc.min()
        
    return pd.concat(df_list, axis=0)

In [5]:
df_comments = get_posts('comments', 50)

In [6]:
df_comments.shape

(4997, 7)

In [7]:
df_comments.to_csv('../data/teacher_comments_teachers_50.csv')

In [8]:
df_comments.head()

,id,parent_id,link_id,author,subreddit,body,created_utc
0,i4miy5e,t1_i4mifr8,t3_u31vdz,purdueboi,Teachers,Yes and trust me Iâ€™ve been telling myself that...,1649888647
1,i4miwly,t3_u2uk1w,t3_u2uk1w,JMLKO,Teachers,That could have been done through email. Your ...,1649888629
2,i4miuv3,t3_u308l7,t3_u308l7,NikkiBell84,Teachers,I've been to two job fairs in my life: One was...,1649888608
3,i4miu4j,t1_i4mir1g,t3_u2sote,jlenoconel,Teachers,"Maybe so, but Democrats do ridiculous stuff too.",1649888600
4,i4miss7,t1_i4lzs1h,t3_u2sote,TiberiusGracchi,Teachers,She said 100% engagement 100% of the time is i...,1649888584

In [9]:
df_comments.isnull().sum()

id             0
parent_id      0
link_id        0
author         0
subreddit      0
body           0
created_utc    0
dtype: int64

In [10]:
df_comments.head()

,id,parent_id,link_id,author,subreddit,body,created_utc
0,i4miy5e,t1_i4mifr8,t3_u31vdz,purdueboi,Teachers,Yes and trust me Iâ€™ve been telling myself that...,1649888647
1,i4miwly,t3_u2uk1w,t3_u2uk1w,JMLKO,Teachers,That could have been done through email. Your ...,1649888629
2,i4miuv3,t3_u308l7,t3_u308l7,NikkiBell84,Teachers,I've been to two job fairs in my life: One was...,1649888608
3,i4miu4j,t1_i4mir1g,t3_u2sote,jlenoconel,Teachers,"Maybe so, but Democrats do ridiculous stuff too.",1649888600
4,i4miss7,t1_i4lzs1h,t3_u2sote,TiberiusGracchi,Teachers,She said 100% engagement 100% of the time is i...,1649888584

In [11]:
# get  from subreddit

def get_submissions(n_time):
    
    df_list = []
    current_time = 1649899074
    
    for _ in range(n_time):
      res = requests.get(
            url,
            params={
                "subreddit": 'Teachers',
                "size": 100,
                "before": current_time
            }
      )
      time.sleep(3)
      df = pd.DataFrame(res.json()['data'])
       
      df = df.loc[:, ["subreddit",'id', "selftext", 'title','num_comments',"created_utc"]]
      #df = df["subreddit", "selftext", "created_utc"]
      df_list.append(df)
      current_time = df.created_utc.min()
        
    return pd.concat(df_list, axis=0)

In [12]:
# df_submission = get_submissions(100)

df_submission = get_submissions(50)

In [13]:
df_submission.head()

,subreddit,id,selftext,title,num_comments,created_utc
0,Teachers,u35imn,I teach 8th grade at a private school in Ontar...,LGBT teacher with no admin support in traditio...,0,1649898781
1,Teachers,u35g5w,[removed],Please Help,0,1649898562
2,Teachers,u35fe3,For some context I'm teaching US history. \n\n...,"I got that kid that won't stop being ""that kid"".",0,1649898496
3,Teachers,u35668,I am a middle school coding teacher. Iâ€™m wonde...,Can I use class wallet to buy an oculus?,0,1649897706
4,Teachers,u353wr,A student turned in their essay (which we work...,Plagiarism &amp; Parents,0,1649897510

In [14]:
df_submission.shape

(4998, 6)

In [15]:
df_submission['title'][:20]

0     LGBT teacher with no admin support in traditio...
1                                           Please Help
2      I got that kid that won't stop being "that kid".
3              Can I use class wallet to buy an oculus?
4                              Plagiarism &amp; Parents
5     Never forget that obedience is more valuable t...
6     Advice on Burnout and General Work Anxiety Cau...
7     Any other teachers go from a bad school to a â€œ...
8         Parents, your above-grade child is doing fine
9     Advice on Burnout and Work Anxiety Caused by C...
10                                      Updating resume
11    In search of free unit plans for 3rd grade ELA...
12                       Do teachers actually use this?
13    Anyone use an alternative teaching certificate...
14                           Why aren't admins subbing?
15             Ways to circumvent "restorative justice"
16                               Teaching is not for me
17                     Advice certification issue (NYS)
18    An opinion letter written by a 2nd graders to ...
19    Middle school student murdered at school by an...
Name: title, dtype: object

In [16]:
df_submission['num_comments'].value_counts()

0     4903
2       22
1       15
3       10
4        8
5        8
6        5
12       4
9        4
11       3
14       3
17       2
7        2
8        2
31       1
20       1
46       1
16       1
23       1
48       1
19       1
Name: num_comments, dtype: int64

In [17]:
df_submission.to_csv('../data/teacher_submission_50.csv')

In [18]:
df_submission_with_comments = df_submission[df_submission['num_comments']> 20]

In [19]:
df_submission_with_comments.shape

(4, 6)

In [20]:
df_submission_with_comments.head()

,subreddit,id,selftext,title,num_comments,created_utc
57,Teachers,tridmx,"I stg, if I have one more student respond to a...",Your mom.,46,1648585001
62,Teachers,trhk28,"I miss my peanut butter cheese cracker breaks,...",So I can never eat any form of nut anywhere in...,31,1648584516
86,Teachers,tr6de2,i work with younger kids and it has been so ba...,When did parents stop teaching their children ...,23,1648570650
89,Teachers,tr5hak,My school was sent a supposedly anonymous goog...,Principal wanted to know what my concerns were...,48,1648569736

### combine submission and comments together to have  one DataFramee

In [21]:
df_combine = pd.concat([df_submission, df_comments],ignore_index=True, sort=False)

In [22]:
df_combine.shape

(9995, 10)

In [23]:
df_combine.head()

,subreddit,id,selftext,title,num_comments,created_utc,parent_id,link_id,author,body
0,Teachers,u35imn,I teach 8th grade at a private school in Ontar...,LGBT teacher with no admin support in traditio...,0.0,1649898781,NaN,NaN,NaN,NaN
1,Teachers,u35g5w,[removed],Please Help,0.0,1649898562,NaN,NaN,NaN,NaN
2,Teachers,u35fe3,For some context I'm teaching US history. \n\n...,"I got that kid that won't stop being ""that kid"".",0.0,1649898496,NaN,NaN,NaN,NaN
3,Teachers,u35668,I am a middle school coding teacher. Iâ€™m wonde...,Can I use class wallet to buy an oculus?,0.0,1649897706,NaN,NaN,NaN,NaN
4,Teachers,u353wr,A student turned in their essay (which we work...,Plagiarism &amp; Parents,0.0,1649897510,NaN,NaN,NaN,NaN

In [24]:
df_combine.tail()

,subreddit,id,selftext,title,num_comments,created_utc,parent_id,link_id,author,body
9990,Teachers,i4gz7bi,NaN,NaN,NaN,1649792941,t3_u24ftb,t3_u24ftb,ImpressiveJoke2269,I would love to get paid overtime! Waitâ€¦ ðŸ¤”
9991,Teachers,i4gz6th,NaN,NaN,NaN,1649792935,t3_u25cvs,t3_u25cvs,Mewhenyourmom420,The Road by Cormac McCarthy
9992,Teachers,i4gz4oj,NaN,NaN,NaN,1649792914,t3_u27lf0,t3_u27lf0,dawgsheet,"It is very district based, sometimes state/loc..."
9993,Teachers,i4gz3qd,NaN,NaN,NaN,1649792904,t3_u22okf,t3_u22okf,heathers1,I had a MS class like that a few times. next y...
9994,Teachers,i4gz29f,NaN,NaN,NaN,1649792890,t1_i4gr9r4,t3_u1n155,thatredditscribbler,"Oh. \n\nHere, go [one by one](https://www.yout..."

In [25]:
df_combine.isnull().sum()

subreddit          0
id                 0
selftext        4999
title           4997
num_comments    4997
created_utc        0
parent_id       4998
link_id         4998
author          4998
body            4998
dtype: int64

Fill relevant data to null

In [26]:
df_combine['selftext'].fillna('fromcomments', inplace = True)

In [27]:
df_combine.isnull().sum()

subreddit          0
id                 0
selftext           0
title           4997
num_comments    4997
created_utc        0
parent_id       4998
link_id         4998
author          4998
body            4998
dtype: int64

In [28]:
df_combine['title'].fillna('fromcomments', inplace = True)

In [29]:
df_combine['num_comments'].fillna(0,inplace=True)

In [30]:
df_combine['parent_id'].fillna('fromsubmission',inplace=True)

In [31]:
df_combine['link_id'].fillna('fromsubmission',inplace=True)

In [32]:
df_combine['author'].fillna('fromsubmission',inplace=True)

In [33]:
df_combine['body'].fillna('fromsubmission',inplace=True)

In [34]:
df_combine.isnull().sum()

subreddit       0
id              0
selftext        0
title           0
num_comments    0
created_utc     0
parent_id       0
link_id         0
author          0
body            0
dtype: int64

In [35]:
df_combine.head()

,subreddit,id,selftext,title,num_comments,created_utc,parent_id,link_id,author,body
0,Teachers,u35imn,I teach 8th grade at a private school in Ontar...,LGBT teacher with no admin support in traditio...,0.0,1649898781,fromsubmission,fromsubmission,fromsubmission,fromsubmission
1,Teachers,u35g5w,[removed],Please Help,0.0,1649898562,fromsubmission,fromsubmission,fromsubmission,fromsubmission
2,Teachers,u35fe3,For some context I'm teaching US history. \n\n...,"I got that kid that won't stop being ""that kid"".",0.0,1649898496,fromsubmission,fromsubmission,fromsubmission,fromsubmission
3,Teachers,u35668,I am a middle school coding teacher. Iâ€™m wonde...,Can I use class wallet to buy an oculus?,0.0,1649897706,fromsubmission,fromsubmission,fromsubmission,fromsubmission
4,Teachers,u353wr,A student turned in their essay (which we work...,Plagiarism &amp; Parents,0.0,1649897510,fromsubmission,fromsubmission,fromsubmission,fromsubmission

In [36]:
df_combine.tail()

,subreddit,id,selftext,title,num_comments,created_utc,parent_id,link_id,author,body
9990,Teachers,i4gz7bi,fromcomments,fromcomments,0.0,1649792941,t3_u24ftb,t3_u24ftb,ImpressiveJoke2269,I would love to get paid overtime! Waitâ€¦ ðŸ¤”
9991,Teachers,i4gz6th,fromcomments,fromcomments,0.0,1649792935,t3_u25cvs,t3_u25cvs,Mewhenyourmom420,The Road by Cormac McCarthy
9992,Teachers,i4gz4oj,fromcomments,fromcomments,0.0,1649792914,t3_u27lf0,t3_u27lf0,dawgsheet,"It is very district based, sometimes state/loc..."
9993,Teachers,i4gz3qd,fromcomments,fromcomments,0.0,1649792904,t3_u22okf,t3_u22okf,heathers1,I had a MS class like that a few times. next y...
9994,Teachers,i4gz29f,fromcomments,fromcomments,0.0,1649792890,t1_i4gr9r4,t3_u1n155,thatredditscribbler,"Oh. \n\nHere, go [one by one](https://www.yout..."

### put all text info together

In [37]:
df_combine['all_text'] = df_combine['selftext'] + ', ' + df_combine['body'] + ', ' + df_combine['title']

In [38]:
df_combine.head()

,subreddit,id,selftext,title,num_comments,created_utc,parent_id,link_id,author,body,all_text
0,Teachers,u35imn,I teach 8th grade at a private school in Ontar...,LGBT teacher with no admin support in traditio...,0.0,1649898781,fromsubmission,fromsubmission,fromsubmission,fromsubmission,I teach 8th grade at a private school in Ontar...
1,Teachers,u35g5w,[removed],Please Help,0.0,1649898562,fromsubmission,fromsubmission,fromsubmission,fromsubmission,"[removed], fromsubmission, Please Help"
2,Teachers,u35fe3,For some context I'm teaching US history. \n\n...,"I got that kid that won't stop being ""that kid"".",0.0,1649898496,fromsubmission,fromsubmission,fromsubmission,fromsubmission,For some context I'm teaching US history. \n\n...
3,Teachers,u35668,I am a middle school coding teacher. Iâ€™m wonde...,Can I use class wallet to buy an oculus?,0.0,1649897706,fromsubmission,fromsubmission,fromsubmission,fromsubmission,I am a middle school coding teacher. Iâ€™m wonde...
4,Teachers,u353wr,A student turned in their essay (which we work...,Plagiarism &amp; Parents,0.0,1649897510,fromsubmission,fromsubmission,fromsubmission,fromsubmission,A student turned in their essay (which we work...

In [40]:
# df_combine.to_csv('combine.csv')
df_combine.to_csv('../data/teacher_combine_50.csv', index=False)