## Data collecting

In [14]:
import requests

import pandas as pd
import matplotlib.pyplot as plt

import time

In [15]:
url = 'https://api.pushshift.io/reddit/search/submission'
url_comments = 'https://api.pushshift.io/reddit/search/comment'

In [16]:
param_parenting = {
    'subreddit': 'Parenting',
    'size': 500,
    'before': 1649888675
}

In [22]:
# get comments from subreddit

def get_posts(type, n_time):
    
    df_list = []
    current_time = 1649888675
    
    for _ in range(n_time):
      if type == 'submissions':
        res = requests.get(
            url,
            params={
                "subreddit": 'Parenting',
                "size": 500,
                "before": current_time
            }
        )
      if type == 'comments':
        res = requests.get(
            url_comments,
            params={
                "subreddit": 'Parenting',
                "size": 500,
                "before": current_time
            }
        )

        time.sleep(3)
        df = pd.DataFrame(res.json()['data'])
        if type == 'comments':
          df = df.loc[:, ['id', 'parent_id','link_id' ,'author', "subreddit", "body", "created_utc"]]
        if type == 'submissions':
          print(df.shape)
         # df = df.loc[:, ["subreddit", "selftext", "created_utc"]]
          df = df["subreddit", "selftext", "created_utc"]
        df_list.append(df)
        current_time = df.created_utc.min()
        
    return pd.concat(df_list, axis=0)

In [23]:
df_comments = get_posts('comments', 10)

In [28]:
df_comments.shape

(1000, 7)

In [31]:
df_comments.to_csv('comments.csv')

In [32]:
df_comments.head()

,id,parent_id,link_id,author,subreddit,body,created_utc
0,i4miytu,t1_i4lpwdx,t3_u2xgw9,MyAlternateOne,Parenting,And? He's legally an adult if he wants to fuck...,1649888655
1,i4miyr3,t3_u2zrje,t3_u2zrje,Still_Strangest,Parenting,It’s so devastating to hear those words even w...,1649888654
2,i4misto,t1_i4mimzu,t3_u31y78,fancydang,Parenting,Yes I ordered a safe on Amazon now. This is ob...,1649888584
3,i4mis5x,t1_i4mimzu,t3_u31y78,loopalace,Parenting,Yeah this too. It is totally up to us to make ...,1649888577
4,i4miqt6,t1_i4lfw5i,t3_u2virc,mcon87,Parenting,It's so validating to hear this from another p...,1649888561

look through id related columns, for future use when needed to analize user's feature

In [52]:
df_comments['link_id'].value_counts()

t3_u1h5vs    110
t3_tzpii5    100
t3_u03r5p     97
t3_u19c9d     65
t3_u1zmpc     65
            ...
t3_txri4n      1
t3_typmj2      1
t3_tvlzwu      1
t3_shvbfg      1
t3_tyki5c      1
Name: link_id, Length: 265, dtype: int64

In [54]:

            
list_c  = df_comments['link_id']
list_s = df_submission['id']
list_together = []

for linkid in list_c:
    linkid = linkid[3:]
    #print(linkid)
    for id in list_s:
        if linkid == id:
            list_together.append(linkid)
print(len(list_together))

2400

In [55]:
list_c  = df_comments['parent_id']
list_s = df_submission['id']
list_together = []

for linkid in list_c:
    linkid = linkid[3:]
    for id in list_s:
        if linkid == id:
            list_together.append(linkid)
print(len(list_together))

1190

In [56]:
df_comments.isnull().sum()

id             0
parent_id      0
link_id        0
author         0
subreddit      0
body           0
created_utc    0
dtype: int64

In [2]:
#df_submission['title']

In [57]:
parentids = df_comments['parent_id']

In [58]:
parentids

0     t1_i4mgmvf
1     t1_i4kuydm
2      t3_u31lsw
3      t3_u2m2m5
4      t3_u2by9s
         ...
95     t3_tyxaau
96     t3_tz2rqk
97     t3_tv8pv3
98     t3_tz6y9m
99     t3_tyoz52
Name: parent_id, Length: 2500, dtype: object

In [59]:
parentids = df_comments['parent_id']

parentids_for_col = []
for key in parentids:
    val = key[3:]
    parentids_for_col.append(key)
df_comments['parent_id'] = parentids_for_col

In [60]:
df_comments.head()

,id,parent_id,link_id,author,subreddit,body,created_utc
0,i4mitd7,t1_i4mgmvf,t3_u31lsw,Maximum_Till_2357,diabetes,I see. Thank you for responding. It just feels...,1649888591
1,i4miryz,t1_i4kuydm,t3_u2m2m5,DiabeticCumshot,diabetes,Don’t you wake up high af though ?,1649888575
2,i4mgmvf,t3_u31lsw,t3_u31lsw,nallvf,diabetes,"This sort of happens to me too, in that my sug...",1649887683
3,i4mewdp,t3_u2m2m5,t3_u2m2m5,griffithdidnthwrong,diabetes,What manga is it?,1649886972
4,i4mesr5,t3_u2by9s,t3_u2by9s,Agreeable_Shopping10,diabetes,Juice boxes. I usually carry a draw string bac...,1649886932

In [33]:
# get  from subreddit

def get_submissions(n_time):
    
    df_list = []
    current_time = 1649899074
    
    for _ in range(n_time):
      res = requests.get(
            url,
            params={
                "subreddit": 'Parenting',
                "size": 100,
                "before": current_time
            }
      )
      time.sleep(3)
      df = pd.DataFrame(res.json()['data'])
       
      df = df.loc[:, ["subreddit",'id', "selftext", 'title','num_comments',"created_utc"]]
      #df = df["subreddit", "selftext", "created_utc"]
      df_list.append(df)
      current_time = df.created_utc.min()
        
    return pd.concat(df_list, axis=0)

In [34]:
# df_submission = get_submissions(100)

df_submission = get_submissions(10)

In [35]:
df_submission.head()

,subreddit,id,selftext,title,num_comments,created_utc
0,Parenting,u35fhw,We recently found a drop in daycare for my 3yr...,Daycare recommends shorter drop offs.,0,1649898505
1,Parenting,u355wz,So I've lurked on this sub for a long time as ...,Looking for advice for taking the leap to beco...,0,1649897684
2,Parenting,u34x24,So my 20yr old son came back to live with me a...,lazy teenager,0,1649896924
3,Parenting,u34vh5,"I feel bad about posting, since I had all the ...",I still haven't bonded with my 1 year old,0,1649896790
4,Parenting,u34sai,My Steam library is looking a bit thin when it...,PC game advice for a 5 year old.,0,1649896511

In [36]:
df_submission.shape

(1000, 6)

In [65]:
df_submission['title'][:20]

0     Will glucose gel work for someone with type 2 ...
1            Fillable 3mL cartridges for reusable pens?
2                        First time in DKA need support
3             Resources for t2 diabetic dietary advice?
4                              Home testing with urine?
5     do you think freestyle libre can cause skin da...
6                                   Help with Metformin
7     How to control spiking blood sugar level in th...
8                         Tips of reversing prediabetes
9                                          hypoglycemia
10    Pre meal and postmeal glucose both 95, but A1C...
11    38/f Type 1 for 21 years. Has anyone ever lost...
12    New to Libre 2… what kind of numbers to look for?
13    Freestyle Libre 2 iOS app: says the OS has not...
14    Diabetes self-management app survey - Lund Uni...
15    Interested in Omnipod patch pump, can it loop ...
16                                                 Pain
17    How do you manage weight loss and keeping your...
18                     Are these pre-diabetic symptoms?
19          Does injection site affect absorption rate?
Name: title, dtype: object

In [66]:
df_submission['num_comments'].value_counts()

0      2207
1        44
2        25
5        21
3        21
6        17
12       14
4        14
10       13
8        12
9        11
11        9
7         9
13        7
29        5
15        5
20        5
16        4
17        4
14        4
19        3
24        3
22        3
36        2
18        2
21        2
31        2
23        2
27        2
26        2
78        1
80        1
25        1
91        1
30        1
34        1
58        1
28        1
62        1
89        1
52        1
40        1
66        1
35        1
48        1
146       1
193       1
41        1
37        1
59        1
95        1
38        1
42        1
79        1
Name: num_comments, dtype: int64

In [37]:
df_submission.to_csv('submission.csv')

In [67]:
df_submission_with_comments = df_submission[df_submission['num_comments']> 20]

In [68]:
df_submission_with_comments.shape

(47, 6)

In [69]:
df_submission_with_comments.head()

,subreddit,id,selftext,title,num_comments,created_utc
32,diabetes,tr4r6e,,I just wanted to eat normally,26,1648568121
25,diabetes,sx8bco,On the bright side I have lost weight lol,So um...does metformin constantly give you loo...,42,1645383141
27,diabetes,sx5512,What were your symptoms? \n\nFor how long did ...,Redditors with type 2 diabetes: Did you have A...,38,1645374857
30,diabetes,sx40m3,So the reason I'm asking is that I feel a litt...,Would an annual blood work panel with fasted g...,27,1645371918
35,diabetes,sx2lyq,So according to a blood test i took I got a hb...,What does this mean?,23,1645367884

### combine submission and comments together tohave  one DataFramee

In [38]:
df_combine = pd.concat([df_submission, df_comments],ignore_index=True, sort=False)

In [39]:
df_combine.shape

(2000, 10)

In [40]:
df_combine.head()

,subreddit,id,selftext,title,num_comments,created_utc,parent_id,link_id,author,body
0,Parenting,u35fhw,We recently found a drop in daycare for my 3yr...,Daycare recommends shorter drop offs.,0.0,1649898505,NaN,NaN,NaN,NaN
1,Parenting,u355wz,So I've lurked on this sub for a long time as ...,Looking for advice for taking the leap to beco...,0.0,1649897684,NaN,NaN,NaN,NaN
2,Parenting,u34x24,So my 20yr old son came back to live with me a...,lazy teenager,0.0,1649896924,NaN,NaN,NaN,NaN
3,Parenting,u34vh5,"I feel bad about posting, since I had all the ...",I still haven't bonded with my 1 year old,0.0,1649896790,NaN,NaN,NaN,NaN
4,Parenting,u34sai,My Steam library is looking a bit thin when it...,PC game advice for a 5 year old.,0.0,1649896511,NaN,NaN,NaN,NaN

In [41]:
df_combine.tail()

,subreddit,id,selftext,title,num_comments,created_utc,parent_id,link_id,author,body
1995,Parenting,i4lfajq,NaN,NaN,NaN,1649872847,t3_u2rsja,t3_u2rsja,They_Call_Me_Sugar,Stay strong and I'd say leave his ass! If he's...
1996,Parenting,i4lfahr,NaN,NaN,NaN,1649872846,t1_i4l0fjk,t3_u2rsja,Ancient-Ad-9790,"Seriously, what are these teens thinking? Wher..."
1997,Parenting,i4lfa1b,NaN,NaN,NaN,1649872842,t3_u2w61h,t3_u2w61h,aloewolf,I think the 4 year age gap will be an issue wh...
1998,Parenting,i4lfa0g,NaN,NaN,NaN,1649872841,t1_i4le47e,t3_u2virc,MadMaid42,"Yeah that’s a good thing, just want to mention..."
1999,Parenting,i4lf7rb,NaN,NaN,NaN,1649872817,t3_u2esg1,t3_u2esg1,wmartin2014,"If he actually uses the office, a fair comprom..."

In [42]:
df_combine.isnull().sum()

subreddit          0
id                 0
selftext        1000
title           1000
num_comments    1000
created_utc        0
parent_id       1000
link_id         1000
author          1000
body            1000
dtype: int64

In [43]:
df_combine['selftext'].fillna('fromcomments', inplace = True)

In [44]:
df_combine.isnull().sum()

subreddit          0
id                 0
selftext           0
title           1000
num_comments    1000
created_utc        0
parent_id       1000
link_id         1000
author          1000
body            1000
dtype: int64

In [45]:
df_combine['title'].fillna('fromcomments', inplace = True)

In [46]:
df_combine['num_comments'].fillna(0,inplace=True)

In [47]:
df_combine['parent_id'].fillna('fromsubmission',inplace=True)

In [48]:
df_combine['link_id'].fillna('fromsubmission',inplace=True)

In [49]:
df_combine['author'].fillna('fromsubmission',inplace=True)

In [50]:
df_combine['body'].fillna('fromsubmission',inplace=True)

In [51]:
df_combine.isnull().sum()

subreddit       0
id              0
selftext        0
title           0
num_comments    0
created_utc     0
parent_id       0
link_id         0
author          0
body            0
dtype: int64

In [52]:
df_combine.head()

,subreddit,id,selftext,title,num_comments,created_utc,parent_id,link_id,author,body
0,Parenting,u35fhw,We recently found a drop in daycare for my 3yr...,Daycare recommends shorter drop offs.,0.0,1649898505,fromsubmission,fromsubmission,fromsubmission,fromsubmission
1,Parenting,u355wz,So I've lurked on this sub for a long time as ...,Looking for advice for taking the leap to beco...,0.0,1649897684,fromsubmission,fromsubmission,fromsubmission,fromsubmission
2,Parenting,u34x24,So my 20yr old son came back to live with me a...,lazy teenager,0.0,1649896924,fromsubmission,fromsubmission,fromsubmission,fromsubmission
3,Parenting,u34vh5,"I feel bad about posting, since I had all the ...",I still haven't bonded with my 1 year old,0.0,1649896790,fromsubmission,fromsubmission,fromsubmission,fromsubmission
4,Parenting,u34sai,My Steam library is looking a bit thin when it...,PC game advice for a 5 year old.,0.0,1649896511,fromsubmission,fromsubmission,fromsubmission,fromsubmission

In [53]:
df_combine.tail()

,subreddit,id,selftext,title,num_comments,created_utc,parent_id,link_id,author,body
1995,Parenting,i4lfajq,fromcomments,fromcomments,0.0,1649872847,t3_u2rsja,t3_u2rsja,They_Call_Me_Sugar,Stay strong and I'd say leave his ass! If he's...
1996,Parenting,i4lfahr,fromcomments,fromcomments,0.0,1649872846,t1_i4l0fjk,t3_u2rsja,Ancient-Ad-9790,"Seriously, what are these teens thinking? Wher..."
1997,Parenting,i4lfa1b,fromcomments,fromcomments,0.0,1649872842,t3_u2w61h,t3_u2w61h,aloewolf,I think the 4 year age gap will be an issue wh...
1998,Parenting,i4lfa0g,fromcomments,fromcomments,0.0,1649872841,t1_i4le47e,t3_u2virc,MadMaid42,"Yeah that’s a good thing, just want to mention..."
1999,Parenting,i4lf7rb,fromcomments,fromcomments,0.0,1649872817,t3_u2esg1,t3_u2esg1,wmartin2014,"If he actually uses the office, a fair comprom..."

### put all text info together

In [54]:
df_combine['all_text'] = df_combine['selftext'] + ', ' + df_combine['body'] + ', ' + df_combine['title']

In [55]:
df_combine.head()

,subreddit,id,selftext,title,num_comments,created_utc,parent_id,link_id,author,body,all_text
0,Parenting,u35fhw,We recently found a drop in daycare for my 3yr...,Daycare recommends shorter drop offs.,0.0,1649898505,fromsubmission,fromsubmission,fromsubmission,fromsubmission,We recently found a drop in daycare for my 3yr...
1,Parenting,u355wz,So I've lurked on this sub for a long time as ...,Looking for advice for taking the leap to beco...,0.0,1649897684,fromsubmission,fromsubmission,fromsubmission,fromsubmission,So I've lurked on this sub for a long time as ...
2,Parenting,u34x24,So my 20yr old son came back to live with me a...,lazy teenager,0.0,1649896924,fromsubmission,fromsubmission,fromsubmission,fromsubmission,So my 20yr old son came back to live with me a...
3,Parenting,u34vh5,"I feel bad about posting, since I had all the ...",I still haven't bonded with my 1 year old,0.0,1649896790,fromsubmission,fromsubmission,fromsubmission,fromsubmission,"I feel bad about posting, since I had all the ..."
4,Parenting,u34sai,My Steam library is looking a bit thin when it...,PC game advice for a 5 year old.,0.0,1649896511,fromsubmission,fromsubmission,fromsubmission,fromsubmission,My Steam library is looking a bit thin when it...

In [56]:
# df_combine.to_csv('combine.csv')
df_combine.to_csv('combine_25.csv')